html,body{
    height: 100%;
    border: 0;
    margin: 0;
}
div.left-menu{
    height: 100%;
    width: 15%;
    background: #FFFFFF;
}
div.right-content{
    height: 100%;
    width: 85%;
    background: #e6e6e6;
}
div.left-menu,div.right-content{
    float: left;
}