.bg{
    width:100%;
    height:100%;
    position: relative;
    background: url(/resources/images/physe.png) no-repeat fixed;
    background-size:contain;
    padding:1px;
    box-sizing:border-box;
    z-index:1;
}
.bg:after{
    content: "";
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    background: inherit;
    filter: blur(2px);
    z-index: 2;
}
.drag{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:500px;
    height:300px;
    text-align: center;

    z-index:11;
}