<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="core.dao.BlogMapper">
  <resultMap id="BaseResultMap" type="core.bean.Blog">
    <id column="bid" jdbcType="INTEGER" property="bid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="hits" jdbcType="INTEGER" property="hits" />
    <result column="publishtime" jdbcType="DATE" property="publishtime" />
    <result column="imageurl" jdbcType="VARCHAR" property="imageurl" />
    <result column="context" jdbcType="LONGVARCHAR" property="context" />
  </resultMap>

  <resultMap id="blogvo" type="core.bean.BlogVo">
    <id column="bid" jdbcType="INTEGER" property="bid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="hits" jdbcType="INTEGER" property="hits" />
    <result column="publishtime" jdbcType="DATE" property="publishtime" />
    <result column="imageurl" jdbcType="VARCHAR" property="imageurl" />
    <result column="context" jdbcType="LONGVARCHAR" property="context" />
    <collection property="categorylist" ofType="core.bean.Category" javaType="ArrayList" column="bid" select="core.dao.CategoryMapper.selectByBlogId">
    </collection>
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from blog
    where bid = #{bid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="core.bean.Blog">
   insert into blog (bid, title, summary,
      hits, publishtime, imageurl, 
      context)
    values (#{bid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, 
      #{hits,jdbcType=INTEGER}, #{publishtime,jdbcType=DATE}, #{imageurl,jdbcType=VARCHAR}, 
      #{context,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="core.bean.Blog">
    update blog
    set title = #{title,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      hits = #{hits,jdbcType=INTEGER},
      imageurl = #{imageurl,jdbcType=VARCHAR},
      context = #{context,jdbcType=LONGVARCHAR}
    where bid = #{bid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="blogvo">
    select bid, title, summary, hits, publishtime, imageurl, context
    from blog
    where bid = #{bid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select bid, title, summary, hits, publishtime, imageurl, context
    from blog
  </select>

  <select id="selectBloginfoByPK" parameterType="java.lang.Integer" resultMap="blogvo">
    select bid, title, summary, hits, publishtime, imageurl
    from blog
    where bid = #{bid,jdbcType=INTEGER}
  </select>
  <select id="selectBlogByKeyWord" resultMap="blogvo">
    select bid, title, summary, hits, publishtime, imageurl
    from blog
    WHERE  bid in (
    select bid
    from blog b
    WHERE  b.context LIKE "%"#{keyword,jdbcType=VARCHAR}"%"
    )
  </select>

  <select id="selectBloginfoByCategory" resultMap="blogvo">
      select bid, title, summary, hits, publishtime, imageurl
      from blog
      WHERE bid in(
      select bid
      from blog_category
      where typename=#{typename,jdbcType=VARCHAR}
      )
  </select>
  <select id="selectBlogBypage" resultMap="blogvo">
    select bid, title, summary, hits, publishtime, imageurl
    from blog
  </select>

</mapper>